.jumbotron {
    background-color: lawngreen;
    color: rgb(0, 0, 0);
    margin-top: 50px;
}

.banner {
    
    position: relative;
    background: url(../imagnes/industria.jpeg);
    min-height: 50vh;
    background-size: cover;
    background-position: center;
}

footer {
    padding: 10px 10px 0px 10px;
    background-color: dimgray;
    margin-bottom: 0px;
    margin-top: 10px;
}

.card-hotel {
    flex: 1 200px;
    padding: 2px 0px 2px 0px;
    margin-top: 10px;
}

.btn-verDetalle {
    width: 100%;
    border-radius: 0px;
}

.footer-address-icon {
    padding-right: 10px;
}

.tab-content {
    padding-top: 10px;
}
.btn-verInformacion {
    margin-bottom: 20px;
}